[Unit]
Description=BF6064X-T Platform Initialisation
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-stordis-bf6064x-t-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
