[Unit]
Description=Setup platform ag7648
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/platform-stordis-bf2556x-1t-init.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=sysinit.target
